body {
    overflow-x: hidden;
 }

/*drawing animations*/
/*path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/


/* Toggle Styles */

#toggle-button {
    height:100%;
    width:20px;
}

#menu-toggle {
    background-color: #4CAF50;
    border: none;
    color: white;
    width:20px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float:left;
    vertical-align:center;
    position:relative;
}

#wrapper {
    padding-right: 50;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #FFF;
}

#wrapper.toggled {
    padding-right: 450px;
}

#sidebar-wrapper {
    width: 50px;
    right: 450px;
    height: 100%;
    margin-right: -450px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 450px;
}

#sidebar-main {
    float:left;
    height:inherit;
    width: 400px;
}

#page-content-wrapper {
    width: 100%;
    padding: 25px;
    overflow:auto;
    float:left;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -450px;
}

/* Sidebar Styles */
@media(min-width:768px) {
    #wrapper {
        padding-right: 450px;
    }

    #wrapper.toggled {
        padding-right: 20px;
    }

    #sidebar-wrapper {
        width: 450px;

        float: right;

    }

    #toggle-text {
        vertical-align: center;
    }

    #sidebar-main {
        float:left;
        height:inherit;
        width: 400px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0px;
    }
}





body {
	background-color:#ACE;
}

.title{
	text-align:center;
	margin-left:100px;
	margin-right:100px;
	margin-top:25px;
	margin-bottom: 20px;
	border:10px;
	border-style:solid;
	border-color:#8EE;
	border-radius:60px 10px;
	background-color:#8EE;
	color:white;
}


#selectenergy {
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 10px;
}

.tab-pane {
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}