body {
    overflow-x: hidden;
 }

@font-face {
    font-family:"Big John";
    src: url("fonts/BIG JOHN.otf");
}

@font-face {
    font-family:"Slim Joe";
    src: url("fonts/Slim Joe.otf");
}

/*drawing animations*/
/*path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}*/


/* Toggle Styles */

#toggle-button {
    box-sizing: border-box;
    height:500px;
    width:20px;
    float:left;
    background-color: #626;
    position: relative;
}

#menu-toggle {
    box-sizing: border-box;
    width:100%;
    color: white;
    text-align:center;
    text-decoration:none;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top:50%;
    height:20px;
    margin-top:-10px;
}

#wrapper {
    padding-right: 50;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #FFF;
    border-radius:20px;
    margin: 0px 20px;
    overflow-x:hidden;
}

#wrapper.toggled {
    padding-right: 450px;
}

#sidebar-wrapper {
    width: 50px;
    right: 450px;
    height: 100%;
    margin-right: -450px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

#wrapper.toggled #sidebar-wrapper {
    width: 450px;
}

#sidebar-main {
    float:left;
    height:inherit;
    width: 400px;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0px 15px;
}

#wrapper.toggled #sidebar-main {
    opacity: 0;
}

#page-content-wrapper {
    width: 100%;
    padding: 25px;
    overflow:auto;
    float:left;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -450px;
}

/* Sidebar Styles */
@media(min-width:768px) {
    #wrapper {
        padding-right: 450px;
    }

    #wrapper.toggled {
        padding-right: 20px;
    }

    #sidebar-wrapper {
        width: 450px;
        float: right;

    }

    #sidebar-main {
        float:left;
        height:inherit;
        width: 400px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0px;
    }
}





body {
	background-color:#ACE;
}

.title{
	text-align:center;
	margin-left:100px;
	margin-right:100px;
	margin-top:25px;
	margin-bottom: 20px;
	border:10px;
	border-style:solid;
	border-color:#83D;
	border-radius:60px 10px;
	background-color:#94A;
	color:white;
    font-family:"Slim Joe";
    vertical-align: top;
}

.title h1 {
    margin-bottom: 20px;
}

#selectenergy {
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 10px;
}

.tab-pane {
	padding-top: 10px;
	/*padding-bottom: 10px;*/
}